#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page{
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
 background-color:black;
  height: 50%;
  font-size: large;
}


